header {
    background-color: rgb(0, 0, 0);
    color: white;
  }

h1 {
    font-size: 300%;
    font-family: Courier, monospace;
  }

nav {
    background-color: rgb(168, 168, 168);
    font-size: 2em;
  }

#nav-button {
    background-color: rgb(100, 100, 100);
    font-family: Courier, monospace;
  }

body {
    background-color: rgb(255, 255, 255);
  }

aside{
    float:right;
    background-color: rgb(219, 219, 219);
  }

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

p {
  font-size: 1rem;
}

table {
  font-family: Courier, monospace;
}
